body {
  font-family: "roboto", sans-serif;
  margin:0;
  padding:0;
  background-color:#162A4C;
}
html, body {
 height:100%;
  width:100%;
}
.card {
width:100%;
height: 100%;
  position: absolute;
}
.first {
  top:0;
  background-color: #1b212a;
}
.second {
  top:100%;
  background-color:#222a34; 
}
.third {
  top:200%;
  background-color:#2b333c;
}
/* #33A2FF */
.title {
 font-family: 'bangers';
  color:#33A2FF;
  font-size:120px;
  text-align: center;
  position:relative;
  top:20%;
  width: 100%;
  line-height: 17vw;
}
.banner {
 width:100%; 
  height:17vw;
  position: absolute;
top:0;
  background-image:url(https://yt3.ggpht.com/-cwCUsIbAiQw/VlyREoBolzI/AAAAAAAAAQs/xGFeN0TC5Ec/w2120-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no/srfdgvdsfgv.png);
  background-size:cover;
  border-bottom: 4px solid #33A2FF;
}
.abouttext {
  color:#33A2FF; 
  font-family: 'comfortaa';
  font-size:30px;
  padding: 20px;
  text-align: center;
  line-height: 40px
}
.vid {
 position: relative;
  border: solid 3px #33A2FF;
 margin-top: 70px;
  width:50%;
  max-width:720px;
  max-height: 405px;
  height: 28vw;
  
}
.about {
background-color:rgba(255, 255, 255, 0.05);
  position: relative;
  top:10%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12); 
}
.aboutheader {
  font-family: 'bangers';
  font-size:75px;
  color:#33A2FF;
  position: relative;
  text-align: center;
  font-weight: 300;
  top:5%
}
.buttons {
 position: relative;
  top:10%;
}
.soc {
  display: block;
  width:20%;
  text-align: center;
  font-size:30px;
  position: relative;
  text-decoration: none;
  color:#303030;
  left:40%;
  line-height:70px;
  font-family: 'roboto';
  background-color:#33A2FF;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 0px 3px #1d66a3;
  transition: all .25s ease-in-out;
}
.soc:hover {
  background-color: #222A34;
  color:white;
  box-shadow: 0px 3px #1f252b;
}
.soc:active {
  box-shadow: 0px 0px #1f252b;
}
